<footer class="site-footer">

    <div id="footerBox" class="row-fluid">
      <div id="copyright" class="span4">
        <p>
        All images courtesy of artist
        Copyright: © 1962-{{ site.time | date: '%Y' }} Peter Liddle
        <p>
      </div>
      <div id="credit" class="span8">
        <p> 'Design and cataloging by Craig Chamberlain
          <a href="http://www.hagatorn.com" target="blank">http://www.hagatorn.com</a>
        <div> </div>
      </div>
    </div>
  </div>

</footer>
